body {
    margin: 0;
}

table, th, td {
  border: 1px solid black;
}

table {
    background-color: beige;
    padding: 16px;
}

th {
    background-color: darkgray;
}
tr:hover {background-color: #D6BBBB;}

button {
    padding: 12px;
    margin: 12px;
}

.addroom-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    color: black;
}

.addroom-modal-card {
    width: 80vw;
    height: 80vh;
    background-color: white;
    border-radius: 8px;
    padding: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page {
    height: 100vh;
    padding: 30px;
    border-radius: 0;
    background-color: beige;
}

.navbar {
    display: flex;
    width: 100vw;
    height: 5vh;
    padding: 5px;
    background-color: darkgray;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-link {
    text-decoration: none;
    color: black;
    margin-right: 5px;
    height: auto;
    height: 100%;
    border-radius: 0;
}

.navbar-links li {
    list-style-type: none;
}

.page-head {
    display: flex;
    width: 100%;
}

.page-head h1 {
    align-self: left;
}

.page-head button {
    align-self: right;
    height: fit-content;
}

.page-table-head-row {
    background-color: blueviolet;
}

.page-table-body-row {
    background-color: rgb(227, 197, 230);
}

.page table {
    background-color: white;
    padding: 12px;
    border-radius: 8px;
}

.page th, td {
    padding: 5px;
    text-align: left;
    width: 100%;
}

.page td:hover {
    background-color: rgb(211, 209, 209);
}
